body {
    font-family: Roboto, sans-serif;
    background-color: black;
}

#main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (orientation: landscape) {
    @media (prefers-color-scheme: dark) {
        #main {
            background-image: url('backgrounds/bg2.jpg');
        }
    }
    @media (prefers-color-scheme: light) {
        #main {
            background-image: url('backgrounds/bg1.jpg');
        }
    }
}

@media (orientation: portrait) {
    #main {
        background-image: url('backgrounds/bg-mob2.jpg');
    }
}
.social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social a {
    margin: 0.2em;
}
.central {
    text-align: center;
    display: flex;
    flex-direction: column;
}
@media (orientation: landscape) {
    .central-adaptive {
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 4em;
    }
}
@media (orientation: portrait) {
    .central-adaptive {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}
h1 {
    font-size: 48px !important;
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
p {
    color: white;
}
a {
    margin-top: 1em;
    color: white;
}
